{% extends "admin/base_site_mako.html" %}

{% if not is_popup %}
{% block block_breadcrumbs %}
<div class="breadcrumbs"><a href="{{root_path}}">Home</a> &rsaquo; {{breadcrumb}}</div>
{% endblock %}
{% endif %}


{% block block_content %}
<div id="content-main">

<form enctype="multipart/form-data" method="post" action="{{action_path}}">
{{ form.as_p }}
<input type="submit" value="Submit" />
</form>

</div>
{% endblock %}
