{% extends "admin/base_site_mako.html" %}

{% if not is_popup %}
{% block block_breadcrumbs %}
<div class="breadcrumbs"><a href="{{root_path}}">Home</a> &rsaquo; LDAP Users</div>
{% endblock %}
{% endif %}


{% block block_extrahead %}
<script type="text/javascript">
function SetAllCheckBoxes(form_name, value) {
    form = document.getElementById(form_name);
    if (form) {
        for (var i = 0; i < form.elements.length; i++) {
            if (form.elements[i].type=="checkbox") {
                form.elements[i].checked = value;
            }
        }
    }
}
</script>
{% endblock %}

{% block block_content %}
<div id="content-main">

<h2>
Unregistered users
</h2>

{% if unexisting_ldap_users %}

<p>
The following users are in the LDAP YABI group, but <strong>NOT</strong> in the DB:
</p>

<form id="unregistered_users" action="" method="POST">
<input type="button" value="Select All" onclick="SetAllCheckBoxes('unregistered_users',true)" />
<input type="button" value="Unselect All" onclick="SetAllCheckBoxes('unregistered_users',false)" />
<input type="submit" value="Register users"/>
<table>
    <tr>
        <th>Register</th>
        <th>Full name</th>
        <th>User ID</th>
        <th>User LDAP DN</th>
    </tr>
{% for ldapuser in unexisting_ldap_users %}
    <tr>
        <td><input type="checkbox" name="{{ldapuser.uid}}" value="{{ldapuser.dn}}"/></td>
        <td>{{ldapuser.full_name}}</td>
        <td>{{ldapuser.uid}}</td>
        <td>{{ldapuser.dn}}</td>
    </tr>
{% endfor %}
</table>
<input type="button" value="Select All" onclick="SetAllCheckBoxes('unregistered_users',true)" />
<input type="button" value="Unselect All" onclick="SetAllCheckBoxes('unregistered_users',false)" />
<input type="submit" value="Register users"/>
</form>

{% else %}

<p>All users in the LDAP YABI group are registered in the DB.</p>

{% endif %}

<h2>
Registered users
</h2>
<p>
The following users are in the LDAP YABI group <em>AND</em> in the DB:
</p>
<table>
    <tr>
        <th>Full name</th>
        <th>User ID</th>
        <th>User LDAP DN</th>
    </tr>
{% for ldapuser in existing_ldap_users %}
    <tr>
        <td>{{ldapuser.full_name}}</td>
        <td>{{ldapuser.uid}}</td>
        <td>{{ldapuser.dn}}</td>
    </tr>
{% endfor %}
</table>


</div>

{% endblock %}
