{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Y A B I</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Centre for Comparative Genomics, Murdoch University.">

    <!-- styles -->
    <link href="{% static 'css/bootstrap.min.css'%}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 10px;
        padding-bottom: 40px;
      }
    </style>
    <link href="{% static 'css/bootstrap-responsive.min.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- fav icon -->
    <link rel="shortcut icon" href="{% static 'images/favicon.ico' %}">
  </head>

  <body>

    <div class="container">

      <div class="row">
        <!-- title and citation -->
        <div class="span8">
          <div style="text-align:center">

            {% if show_dev_warning %}
            <div>
              <strong style="color:red;">Warning: Development settings in use.</strong><br/>Change your settings files before deployment to production servers.
            </div>
            {% endif %}


          <p><a href="{% static '/' %}"><img src="{% static 'images/yabi-logo.png' %}" alt="Yabi-logo" height="60" width="198" /></a></p>
          <h1>Workflows made easy.</h1>
          <p></p>
          <p><strong>Citation:</strong>
            Hunter AA, Macgregor AB, Szabo TO, Wellington CA and Bellgard MI,
            <i>Yabi: An online research environment for Grid, High Performance and Cloud computing</i>, 
            Source Code for Biology and Medicine 2012, 7:1 doi:10.1186/1751-0473-7-1 Published: 15 February 2012
            <a href="http://www.scfbm.org/content/7/1/1/abstract">Source Code for Biology and Medicine</a>
          </p>
          </div>

          <noscript>
            <br/><br/>
                <strong>YABI requires JavaScript to be enabled. Please check your browser
                settings and <a href="{% static "/login" %}">try logging in again</a>.</strong>
          </noscript>
        </div>

        <div class="span1">
          &nbsp;
        </div>

        <!-- login area -->
        <div class="span3">
            <form class="well form-inline" enctype="multipart/form-data" method="post" action="{{base_site_url}}/login/?next={% if request.GET.next %}{{ request.GET.next }}{% else %}{{ base_site_url }}/{% endif %}">
            <fieldset
              {% if error %}
                 class="control-group error"
              {% endif %}
            >
              <div class="control-group">
              <input type="text" name="username" class="span2" placeholder="Username" id="id_username" />
              </div>
              <div class="control-group">
              <input type="password" name="password" class="span2" placeholder="Password" id="id_password" />
              </div>

              <p>
              {% if error %}
                <span class="help-inline">{{error}}</span><br/>
              {% endif %}
              </p>

              </fieldset>
              <input type="submit" value=" Log In " />
          </form>

          <p>
            Want to try Yabi? Use <strong>yabidemo</strong> as username and password.
          </p>
        </div>
      </div>

      <div class="row">
        <!-- testimonials and screenshots -->
        <div class="span8">
          <hr class="soften">
       
          <p>
              <br/>
                <blockquote>
                  <div id="testimonial" style="height:130px;">
                  <h3 id="t_head"></h3>
                  <div id="t_body"></div>
                  <small id='t_source'></small>
                  </div>
                </blockquote>
          </p>
          <br/>
          <hr class="soften">
          <br/>

          <style type="text/css">
                .carousel-inner { text-align: center; }
                .carousel .item > img { display: inline-block; }
          </style>

          <div id="myCarousel" class="carousel">
            <!-- Carousel items -->
            <div class="carousel-inner">

                  <div class="active item"><a href="http://www.youtube.com/watch?v=zLCNAqn8nFE&hd=1" target="_blank"><img src="{% static 'images/screenshot_thumbs/parallel_analysis.png' %}" alt="" /></a>
                      <div class="carousel-caption">
                        <h4>Parallel Analysis of input files</h4>
                        <p>Although the interface is linear in nature it is possible to achieve parallel branching over many files.</p>
                      </div>
                  </div>

                  <div class="item"><a href="http://www.youtube.com/watch?v=7AEJ6eocy7Y" target="_blank"><img src="{% static 'images/screenshot_thumbs/blast_clustalw2.png' %}" alt="" /></a>
                      <div class="carousel-caption">
                        <h4>Running blast and clustalw2</h4>
                        <p>Combining different tools and executions backends into a workflow is easy.</p>
                      </div>
                  </div>

                  <div class="item"><a href="http://www.youtube.com/watch?v=3JNVrl9h-4E&hd=1" target="_blank"><img src="{% static 'images/screenshot_thumbs/blast.png' %}" alt="" /></a>
                      <div class="carousel-caption">
                        <h4>Running Blast at EBI</h4>
                        <p>Tools can be configured to run jobs via web services, such as those offered by the European Bioinformatics Institute.</p>
                      </div>
                  </div>

                  <div class="item"><a href="http://www.youtube.com/watch?v=8_gD7rwBsJM&hd=1" target="_blank"><img src="{% static 'images/screenshot_thumbs/peptide_prophet.png' %}" alt="" /></a>
                      <div class="carousel-caption">
                        <h4>Peptide Prophet</h4>
                        <p>Tools from other domains such as proteomics are just as easily incorporated.</p>
                      </div>
                  </div>

                  <div class="item"><a href="http://www.youtube.com/watch?v=UYtXWkQBDKA" target="_blank"><img src="{% static 'images/screenshot_thumbs/seadas.png' %}" alt="" /></a>
                      <div class="carousel-caption">
                        <h4>Remote sensing using SEADAS</h4>
                        <p>Workflows from a wide variety of scientific domains can be run within Yabi.</p>
                      </div>
                  </div>

                  <div class="item"><a href="http://www.youtube.com/watch?v=g67J_4rJjRk" target="_blank"><img src="{% static 'images/screenshot_thumbs/wheat_annotation.png' %}" alt="" /></a>
                      <div class="carousel-caption">
                        <h4>Wheat annotation</h4>
                        <p>Workflow to aide in the annotation of the wheat genome.</p>
                      </div>
                  </div>

            </div>
            <!-- Carousel nav -->
            <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
            <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
          </div>
         </p>

        </div>

        <div class="span1">
          &nbsp;
        </div>

        <!-- links and badges area -->
        <div class="span3">
          <p>
            Would you like a full trial account?<br>
            <a href="mailto:yabi@ccg.murdoch.edu.au">yabi@ccg.murdoch.edu.au</a>
          </p>

          <p>
            <br/>
            <a href="mailto:yabi@ccg.murdoch.edu.au"><img src="{% static 'images/contactus.png' %}" alt="Contact us" height="41" width="157" /></a>
          </p>

          <p>
            <br/>
            Hosted on Bitbucket: <br/>
            <a href="https://bitbucket.org/ccgmurdoch/yabi/wiki/Home">YABI on Bitbucket</a>
          </p>

          <p>
            Documentation on Read the Docs: <br/>
            <a href="http://yabi.readthedocs.org/en/latest/">YABI on Read the Docs</a>
          </p>

          <p>
            Project Managed on JIRA: <br/>
            <a href="https://ccgmurdoch.atlassian.net/browse/YABI">YABI on JIRA</a>
          </p>


          <p>
            <br/>
            <a href="http://twitter.com/#!/yabiproject"><img src="{% static 'images/twitter.png' %}" alt="Follow us on Twitter" height="36" width="100" /></a><p>
          </p>


        </div>

      </div>



      <hr>

      <footer>
          <p>
            Authorised by: <a href="mailto:mbellgard@ccg.murdoch.edu.au"> Prof Matthew Bellgard</a>; Director, 
            <a href="http://ccg.murdoch.edu.au/">Centre for Comparative Genomics</a> 
            <br/>
            <a href="http://www.murdoch.edu.au/copy/copy.html" >Disclaimer &amp; Copyright Notice</a> &copy; 2006-{% now "Y" %}
            <a href="http://www.murdoch.edu.au/about/murdoch.html">Murdoch University</a> | Contact: 
            <a href="mailto:yabi@ccg.murdoch.edu.au">yabi@ccg.murdoch.edu.au</a> | 
            Logo font 'effortless' by Tup Wanders
          </p>
      </footer>

    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'javascript/lib/jquery.js' %}"></script>
    <script src="{% static 'javascript/lib/bootstrap-carousel.js' %}"></script>
    <script>$('.myCarousel').carousel({interval: 10000})</script>
    <script src="{% static 'javascript/testimonial.js' %}"></script>

    <!-- testimonials -->
    <script>
      $(document).ready( function() {

      t1 = new Object();
      t1.head = 'Metagenomics';
      t1.body = 'Yabi has radically transformed the way we process and analyse 2nd generation DNA sequence data. Through a user-friendly dynamic html interface we can design a simple pipeline that sorts, trims and queries sequence data against databases - we put raw data in one end and obtain meaningful outputs at the end of the pipeline. Put simply, YABI has enabled us to spend more time analysing the actual data and less time \'fighting\' it.';
      t1.source = 'Dr Michael Bunce, ARC Future Fellow, Ancient DNA Lab, School of Biological Sciences and Biotechnology, Murdoch University';
      t2 = new Object();
      t2.head = 'Bioinformatics';
      t2.body = 'Yabi does a brilliant job in bridging the gap between powerful tools and user friendliness. With its state-of-the-art web-based interface, it is a much needed - and very welcome - addition to the bioinformatics ecosystem.';
      t2.source = 'Tomas Di Domenico, Biocomputing Lab, Department of Biology, University of Padova';
      t3 = new Object();
      t3.head = 'High Performance Computing';
      t3.body = 'Yabi enables scientists to focus on science. It creates a much needed bridge to "big iron" for researchers who aren\'t specialists in high-performance computing.';
      t3.source = 'Dr David R Lovell, Transformational Biology - Bioinformatics and Analytics Leader, CSIRO Mathematics, Informatics and Statistics (CMIS)';

      var textArray = [t1, t2, t3];
      $('#testimonial').randomTestimonial( textArray, 10000 ); // ( array, interval, ["reload text or html"] )

      $('#id_username').focus();
      });
    </script>

    <!-- analytics -->
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-24602306-1']);
      _gaq.push(['_trackPageview']);

      (function() {
          var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
          ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
          var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
</script>

  </body>
</html>
